

body{
margin: 0;
background-color: #f1f1f1;
display: block;

}

.header{
    background-color:brown;
    height: 19px;
    display: absolute;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
   letter-spacing: 1px;
  
    
}

/*inicio menu do topo*/

.menu{
    overflow: hidden;
    background-color: #333;
    height: 40px;

}

.menu a {

    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px 9px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    
}
.menu a:hover{
    color:black;
    background-color:white;
}
.login{
    float: right !important;
}
/*fim menu do topo*/

.main{
    background-color:#f1f1f1 ;
    height: auto;
    margin: 0;
    display: block;
    
    
}
a.foto{
    justify-self: center;
    align-content: center;
    display: flex;
    padding: 0;
}

/*inicio participantes*/
.participantes{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   background-color:#f1f1f1;
    padding: 70px;
    flex-direction: column;
    height: auto;
    min-height: 70vh;
    padding-bottom: 100px;

}
.participantes h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.participantes-contente{
    display: flex;
    flex-wrap: wrap;
}
.participante{
    width: 280px;
    height: 78px;
    display: flex;
    background-color: #333;
    border: #000 1px solid;
    break-inside: avoid-column;
    flex: 1 250px;
    align-items: center;
    cursor: pointer;
}
.participantes-contente :hover{

    background-color: white;
    color: #000;
    
}
.participantes h2 :hover{
    color: #000;
}

.participante img{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    border: 2px #333 solid;
    margin: auto 5px;
}

.participante h2{
    text-align: left;
    margin: 1px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
 
/*fim participantes*/

/*inicio do inicio*/
 .inicio {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 40px;
    padding-top: 80px;
 }
 .inicio p{
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    font-family: monospace;
    margin: 1em 0px;
    padding: 10px;
 }

 .inicio h1{
    text-align: center;
 }

/*fim do inicio*/

 .fixed{             /* classe para fixar a header e o menu no topo*/
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    margin: 0;
  z-index: 100;
 }

 /*inicio gametags*/
 
 
 .gametags{    /*foto de fundo*/
    height: 100vh;
    padding-top: 60px;
    width: auto;
    text-align: center;  
    background-image:url(https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/hero/mw-wz/WZ-Season-Three-Announce-TOUT.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 
.conteinerGametag{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px;
    
}
#txtBusca{
    
    width:300px;
	border: solid 1px;
    z-index: 50;
    margin: 20px auto;
}
.tag-contente{
    column-count: 2;
    column-gap: 0;

}
.tag{
    width: 200px;
    height: 25px;
    background-color: #000;
    border: 1px #f2f2f2 solid;
    break-inside: avoid-column;
    color: #f1f1f1;
    opacity: 0.8;
}
.tag li {
    list-style-type: none;
  }
.tag-nome{
  float: left;
  padding: 3px;
  padding-left: 5px;
  
}
.copiar {
    width: 17px;
    height: 17px;
    padding: 2px;
    cursor: pointer;
    float: right;
    margin: 2px;
}
/*fim gametags*/

/* card dos participantes*/
.teste{
    display: none;
    align-items: center;
    background-color: rgba(0,0,0,.65);
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    -webkit-tap-highlight-color: #000;
    top: 0;
    z-index: 100;
}
.fechar{
 float:right;

}
.testeContent{
    height: min-content;
    width: 400px;
    background-color: white;
    margin: auto;
}
.telaUser{
    padding: 15px;
}
.imgUser{
    width: 300px;
    padding: 20px;
}
/* arquivos*/
.arquivos{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   background-color: white;
    padding: 40px;
    background-image: url(https://i.pinimg.com/originals/05/55/37/0555374749aca268dab5c4e96810733d.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
#arquivos{
    padding-top: 80px;
}
.arquivos-content{
    border: #000 solid 2px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-bottom: 30px;
    height: 400px;
    overflow-y: auto;
}
.arquivos-content h1{
margin: 15px auto;
}
.cabecalho{
    padding: 10px;
}

/*fotos*/

.fotos{
    background-color: #000;
    margin: 0 auto;
    padding: 60px 25px 0;
}

.fotos-contente{
    max-width: 650px;
    margin:auto;
}
.fotos-contente img{
    width: inherit;
}
.slick-dots li.slick-active button:before
{
    color: rgb(253, 2, 2) !important;
}
/*Area de login*/
.loginn{
    display:none;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.loginn p {
    color: gray;
}
.login-contente{
    height: 220px;
    width: 200px;
    background-color: rgb(180, 180, 180);
    border-radius: 10%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: #000 1px solid;
    flex-direction: column;
}
.login-contente p {
    color: #000;
    margin: 10px;
}

.inputs{
    margin: 13px;
}
#login-senha{
    margin-right: 0;
}
#olho{
    margin: auto;
    margin-left: 3px;
}
.inputSenha{
    display:flex;
}
.userNovo{
    height: 220px;
    width: 200px;
    background-color: rgb(180, 180, 180);
    border-radius: 10%;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: #000 1px solid;
    flex-direction: column;
}
.tituloLogin{
    margin: 10px;
}
 

 